<section class="carousel-wrapper" [ngStyle]="carouselWrapperStyle">
  <button *ngIf="showArrowsNavigation && !isFirstSlideActive()" (click)="prev()" class="navigation-arrows navigation-arrow-left">&#8592;</button>
  <button *ngIf="showArrowsNavigation && !isLastSlideActive()" (click)="next()" class="navigation-arrows navigation-arrow-right">&#8594;</button>
  <ul class="carousel-inner" #carousel>
    <li *ngFor="let item of items;" class="appCarouselItemElement" (touchstart)="startTouchEvent($event)" (touchmove)="onTouchMove($event)">
      <ng-container [ngTemplateOutlet]="item.tpl"></ng-container>
    </li>
  </ul>
  <ul class="navigation-step-container">
    <li *ngFor="let item of items; index as index">
      <button
        (click)="changeStep(index)"
        class="navigation-step"
        [ngClass]="{'current-step': isCurrentSlide(index)}"
        [disabled]="isCurrentSlide(index)"
      >
      </button>
    </li>
  </ul>
</section>

